.first-div {
  clip-path: circle(17.3% at 99% 0);
}
.second-div {
  clip-path: circle(33.8% at 96% 0);
}
.third-div {
  clip-path: circle(53.8% at 96% 0);
}
.fourth-div {
  clip-path: circle(73.8% at 96% 0);
}
