.adminLeftDrawer {
  overflow-y: overlay;
  overflow: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
  }
}
.adminLeftDrawer:hover {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #b6b6b6;
  }
}
@media (hover: none) {
  .adminLeftDrawer {
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #b6b6b6;
    }
  }
}
