.adminBody {
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #b6b6b6;
  }

  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: #aaaaaa;
  }

 
}
