.adminBody {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #d1d5db;
  }

  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: #bebebe;
  }
}
